name: golangci-lint
on: [ push, workflow_dispatch ]
jobs:
  golangci:
    name: lint
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "stable"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
